.hamburger {
  padding: 15px 0;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  line-height: 0;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger--active:hover {
  opacity: 0.7;
}

.hamburger--active .hamburger__inner,
.hamburger--active .hamburger__inner::before,
.hamburger--active .hamburger__inner::after {
  background-color: #000;
}

.hamburger__box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger__inner,
.hamburger__inner::before,
.hamburger__inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
  content: "";
  display: block;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  bottom: -10px;
}

.hamburger--spring .hamburger__inner {
  top: 2px;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger__inner::before {
  top: 10px;
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger__inner::after {
  top: 20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.hamburger--active .hamburger__inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.hamburger--active .hamburger__inner::before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.hamburger--active .hamburger__inner::after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, 10px, 0) rotate(-45deg);
}

@media screen and (max-width: $tablet) {
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: $phone) {
  .hamburger__box {
    width: 30px;
    height: 20px;
  }

  .hamburger__inner,
  .hamburger__inner::before,
  .hamburger__inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
}

