.hero {
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: -90px;
  right: -38px;
  display: block;
  width: 833px;
  height: 758px;
  background: url("../img/kisspng-gardening-old-age-flower-garden.png") no-repeat right center;
  background-size: contain;
}

.hero__container {
  position: relative;
}

.hero__slides {
  @include reset-list;
}

.hero__slide-item {
  padding-top: 190px;
  padding-bottom: 250px;
  padding-left: 130px;
  background: url("../../img/slider-img.jpg") no-repeat center center;
  background-size: cover;
}

.hero__slide-content {
  width: 505px;
  color: #fff;
}

.hero__slide-title {
  font-weight: 800;
  font-size: 50px;
  line-height: normal;
  margin: 0;
  margin-bottom: 22px;
}

.hero__slide-text {
  width: 440px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  margin-bottom: 83px;
}

.hero__slider-controls {
  @include reset-list;
  display: inline-flex;
  position: absolute;
  z-index: 5;
  top: 140px;
  left: 145px;
}

.hero__slider-control {
  margin-right: 7px;
  opacity: 40%;
}

.hero__slider-control:last-child {
  margin-right: 0;
}

.tns-nav-active {
  opacity: 1;
}

.hero__slider-control-btn {
  background-color: #fff;
  padding: 0;
  border: none;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

@media (max-width: $desktop) {
  .hero::after {
    width: 624.75px;
    height: 568.5px;
    bottom: -80px;
    right: -38px;
  }

  .hero__slide-item {
    padding-top: 150px;
    padding-bottom: 180px;
  }

  .hero__slider-controls {
    top: 120px;
  }
}

@media (max-width: $laptop) {
  .hero::after {
    width: 592.64px;
    height: 539.29px;
    bottom: -40px;
    right: -28px;
  }

  .hero__slide-item {
    padding-top: 130px;
    padding-bottom: 150px;
    padding-left: 100px;
  }

  .hero__slide-text {
    margin-bottom: 50px;
  }

  .hero__slider-controls {
    top: 100px;
    left: 115px;
  }
}

@media screen and (max-width: $tablet) {
  .hero::after {
    display: none;
  }
}


@media screen and (max-width: $land-scape-phone) {
  .hero__slide-item {
    padding: 100px 30px 100px 30px;
  }

  .hero__slide-content {
    width: 100%;
    text-align: center;
  }

  .hero__slide-title {
    font-size: 24px;
  }

  .hero__slide-text {
    width: 87%;
  }

  .hero__slider-controls {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .hero__slider-control-btn {
    width: 8px;
    height: 8px;
  }
}
