.hero__slides {
  @include reset-list;
}

.hero__slide-item {
  padding-top: 190px;
  padding-bottom: 250px;
  padding-left: 130px;
  background: url("../../img/slider-img.jpg") no-repeat center center;
  background-size: cover;
}

.hero__slide-content {
  width: 505px;
  color: #fff;
}

.hero__slide-title {
  font-weight: 800;
  font-size: 50px;
  line-height: normal;
  margin: 0;
  margin-bottom: 22px;
}

.hero__slide-text {
  width: 440px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  margin-bottom: 83px;
}

@media (max-width: 1440px) {
  .hero__slide-item {
    padding-top: 130px;
    padding-bottom: 150px;
    padding-left: 100px;
  }
}
