.main-header {
  padding: 50px 0;
}

.main-header__container {
  display: flex;
  align-items: center;
}

.main-header__logo {
  display: block;
  line-height: 0;
  flex-shrink: 0;
  transition: $transition-time ease all;

  &:hover {
    opacity: 0.7;
  }
}

.main-header__logo-img {
  width: 140px;
  height: 38.03px;
}

.main-header__content {
  flex-grow: 1;
  display: flex;

}

.main-header__nav {
  flex-grow: 1;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-header__nav-list {
  @include reset-list;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-header__nav-item {
  margin-right: 50px;
}

.main-header__nav-link {
  color: $text;
  transition: $transition-time ease all;
  line-height: normal;
  font-weight: medium;

  &:hover {
    color: $green;
  }
}

.main-header__nav-link--lang-toggler {
  margin-left: 50px;
}

@media (max-width: $desktop) {
  .main-header {
    padding: 30px 0;
  }

  .main-header__nav-item {
    margin-right: 30px;
  }
}

@keyframes open {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: $tablet) {
  .main-header {
    position: relative;
  }

  .main-header__logo {
    position: relative;
    z-index: 10;
  }

  .main-header__content {
    position: absolute;
    top: 99%;
    left: -2px;
    z-index: 9;
    background: #fff;
    width: calc(100% + 4px);
    height: calc(100vh - 114px);
    flex-direction: column;
    overflow: auto;

    transform: translateY(-100%);

    display: none;
  }

  .main-header--active .main-header__content {
    display: flex;
    animation: open 0.3s linear;
    transform: translateY(0);
    transition: 0.3s ease transform;
  }

  .main-header__nav {
    flex-grow: 0;
    justify-content: center;
  }

  .main-header__nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-header__nav-item {
    margin: 0;
    margin-bottom: 25px;
  }

  .main-header__nav-link {
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .main-header {
    padding: 20px 0;
  }
}

