.meals {
  margin-top: 153px;
}

.meals--full-page {
  margin-top: 50px;
}

.meals__title {
  margin-bottom: 80px;
}

.meals__list {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.meals--full-page .meals__list {
  flex-wrap: wrap;
}

.meals__list-container {
  position: relative;
}

.meals__nav-btn {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: none;
  padding: 0;
  box-shadow: 10px 14px 14px rgba(19, 28, 81, 0.12);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.meals__nav-btn--prev {
  left: 0;
  transform: translate(-50%, -50%);
}

.meals__nav-btn--next {
  right: 0;
  transform: translate(50%, -50%);
}

.meals__nav-icon {
  width: 40%;
  height: 40%;
  fill: #0D1C2E;
}

.meals__nav-icon--next {
  transform: rotate(180deg);
}

.meals--full-page .meals__item {
  width: calc((100% - 120px) / 4);
  margin-right: 40px;
  margin-bottom: 40px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.meals__item-link {
  color: inherit;
  display: block;

  &:hover {
    opacity: 0.85;
  }
}

.meals__item-img {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 1444px) {
  .meals {
    margin-top: 125px;
  }

  .meals--full-page {
    margin-top: 40px;
  }

  .meals__title {
    margin-bottom: 60px;
  }

  .meals--full-page .meals__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}

@media (max-width: 1366px) {
  .meals {
    margin-top: 100px;
  }

  .meals--full-page {
    margin-top: 30px;
  }

  .meals__nav-btn {
    width: 50px;
    height: 50px;
  }

  .meals__title {
    margin-bottom: 40px;
  }

  .meals--full-page .meals__item {
    width: calc((100% - 60px) / 4);
    margin-right: 20px;
  }
}

@media screen and (max-width: $tablet) {
  .meals--full-page .meals__item {
    width: calc((100% - 40px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(4n) {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: $land-scape-phone) {
  .meals--full-page .meals__item {
    width: calc((100% - 20px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 20px;
    }
  }
}

@media screen and (max-width: $phone) {
  .meals--full-page .meals__item {
    width: 100%;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .meals__list-container {
    width: 90%;
    margin: 0 auto;
  }
}
