.posts {
  margin-top: 155px;
}

.posts__wrapper {
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 6.35% 0;
}

.posts__item {
  max-width: 420px;
  width: 32%;
  min-width: 320px;
  margin-right: 20px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1440px) {
  .posts {
    margin-top: 135px;
  }
}

@media screen and (max-width: 1366px) {
  .posts {
    margin-top: 115px;
  }

  .posts__wrapper {
    padding: 100px 4.35%;
  }
}

@media screen and (max-width: 1261px) {
  .posts__item {
    margin-right: 10px;
  }
}

@media screen and (max-width: $tablet) {
  .posts__wrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 883px) {
  .posts__item {
    width: 420px;
    margin-right: 0;
  }
}

@media screen and (max-width: 464px) {
  .posts__item {
    width: none;
    max-width: 420px;
    margin-right: 0;
  }
}

@media screen and (max-width: $phone) {
  .posts__container {
    padding: 0;
  }
}
