.posts {
  margin-top: 155px;
}

.posts__container {
  background-color: $light-gray;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 6.35%;
}

.posts__item {
  width: 420px;
  margin-right: 20px;
}

@media screen and (max-width: 1440px) {
  .posts {
    margin-top: 135px;
  }

  .posts__item {
    width: 400px;
  }
}

@media screen and (max-width: 1366px) {
  .posts {
    margin-top: 115px;
  }

  .posts__container {
    padding: 100px 4.35%;
  }

  .posts__item {
    width: 360px;
  }
}

@media screen and (max-width: 966px) {
  .posts__container {
    justify-content: center;
  }

  .posts__item {
    width: auto;
    max-width: 420px;
  }
}

@media screen and (max-width: 883px) {
  .posts__item {
    width: 420px;
    margin-right: 0;
  }
}

@media screen and (max-width: 464px) {
  .posts__item {
    width: none;
    max-width: 420px;
    margin-right: 0;
  }
}
